<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Best Selling Electronic Item</title>

    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;800&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/assets/css/style-liberty.css">

</head>

<body>


    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
                <button class="navbar-toggler collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-lg-auto align-items-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('services') }}">Data Description</a>
                        </li>

                        

                    </ul>
                </div>

                
              
            </nav>
        </div>
    </header>
    <!--//header-->
    <!-- //about banner -->
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-5">
            <div class="container py-lg-5 mt-5">
                <div class="banner-info-grid mt-5">
                    <h2 class="w3l-title-breadcrumb">Best Selling Electronic Item</h2>
                </div>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="#url">Home</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about banner -->

    <!-- About Section -->
<section class="w3l-content-6" id="skills">
    <div class="content-6-mian py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="content-info-in row">
               
                <div class="content-gd col-lg-7 mt-lg-0 mt-5 align-self ps-lg-5">
                    <h6 class="w3l-title-small mb-1"></h6>
                    <h3 class="w3l-title-main mb-lg-4 mb-3">About Website</h3>
                    <p class="my-4 pe-lg-5">This page provides lists of different electronic items sales in different area.Its show a list of electronic products and its shipping details.Each row represents order ID,Order date, Shipping date, Aging,Ship mode, Product category, Product,Sales, Quantity, Discount, Profit, Shipping cost, Order priority and Zip code.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
     <!-- footer -->
     <footer class="text-center">
        <div class="container py-4">
            <div class="row footer-grids">
                <div class="col-lg-6 copyright text-lg-start text-center align-center">
                    <p>This website was developed as a part of a Project.</p>
                </div>
                <div class="col-lg-6 text-lg-end text-center mt-lg-0 mt-4">
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->


</body>

</html>